body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.messageBox {
    margin: .5rem 0;
    padding: .5rem;
    border: skyblue dashed 1px;
}

.errorBox {
    margin: .5rem 0;
    padding: .5rem;
    color: white;
    background-color: indianred;
    border: darkred dashed 1px;
}
